.navbar-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 20px;
}
.logo-container {
    display: flex; 
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .navbar-container {
        width: 57vh
    }
}

@media only screen and (max-width: 667px) {
    .navbar-container {
        width: 73vh
    }
}

@media only screen and (max-width: 896px) {
    .navbar-container {
        width: 62vh
    }
}